@page
@model CreditManager.Identity.Pages.Home.Index

<div class="welcome-page">
    <h1>
        Welcome to Credit Manager Identity Server
    </h1>

    @if (Model.IsAuthenticated)
    {
        <div class="row">
            <div class="col-sm-12">
                <p>
                    Welcome back, <strong>@Model.UserName</strong>!
                </p>
                <p>
                    Your role: <strong>@Model.UserRole</strong>
                </p>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-sm-12">
                <p>
                    Please <a asp-page="/Account/Login/Index">log in</a> to continue.
                </p>
            </div>
        </div>
    }
</div>
